
.icon-ok:before { content: '\e800'; } /* '' */
.icon-shuffle:before { content: '\e801'; } /* '' */
.icon-dice:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
